<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Render</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav ms-auto mb-2 mb-md-0 pt-2">


        <li class="nav-item">
          <a class="nav-link px-3 navbar-custom" aria-current="page" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 navbar-custom" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 navbar-custom" href="#footer">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-login px-3 " href="/auth/login">Sign In</a>
        </li>

      <form class="d-flex" action="/auth/register">
      <button type="submit"class="btn btn-dark  navbar-btn-custom mx-3 px-4">Try Free</button>
      </form>
      </ul>

    </div>
  </div>
</nav>
