<div class="container ">
  <h3 class="pb-4 mt-5 pt-5 mb-3 ms-5 heading-white-bg fw-bold">Explore Categories</h3>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3 ms-5">
      <li class="breadcrumb-item"><a href="/explore">Explore</a></li>
      <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
    </ol>
  </nav>


  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-2 g-lg-3 my-5">
    <% if(categories != "") {%>
    <% categories.forEach(function(category, index) { %>

    <a href="/categories/<%= category.name %>" class="col text-center category-link mb-5">
      <div class="category-icon">
        <i class="<%= category.icon %> fa-4x features-icon"></i>
      </div>
      <div>
        <h6  class="pt-1 fw-bold"><%= category.name %></h6>
      </div>
    </a>

    <%  }) %>
    <% } %>

  </div>

  <div class="py-5">
    <%- include("partials/pagination"); -%>
  </div>

</div>
