<!-- <div class="container mx-auto">
  <div class="d-flex col-8 mx-auto">
    <div class="col-10 mx-auto my-5">
      <form action="mailto:rendersocialapp@gmail.com" class="form-group" method="post" enctype="text/plain">
        <label>Name:</label>
        <input type="text" class="form-control" name="yourName" value=""><br>
        <label>Email Address:</label>
        <input type="email" class="form-control" name="yourEmail" value=""><br>
        <label>Your Message:</label><br>
        <textarea class="form-control" rows="4" cols="30" maxlength="150" name="yourMessage"></textarea><br>
        <div class="text-center col-12">
          <button type="submit" class="btn btn-primary px-5">Send</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
