<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold heading-white-bg">Create a Recipe</h1>
  <div class="col-lg-6 mx-auto">


    <% if (user && user.isPrivate) { %>
          <p class="lead">Share your recipes with your friends and followers!</p>
    <% } else { %>
          <p class="lead">Share your recipes with users across the world!</p>
    <% } %>
  </div>
</div>

<div class="row justify-content-center">

  <% if(infoSubmitObj != "") { %>

  <% } %>

  <% if(infoErrorsObj != "") { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj[0].message %>
    </div>
  <% } %>

  <div class="col-10 col-md-8 col-lg-6">

    <form class="" action="/posts/create" enctype="multipart/form-data" method="post">

      <div class="row g-4">

          <input type="hidden" name="author" value="<%=user.id%>">

        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" required>
        </div>

        <div class="col-12">
          <label for="desc" class="form-label">Description</label>
          <textarea name="desc" class="form-control" rows="4" cols="30" id="desc" required></textarea>
        </div>

        <div class="col-12">
          <label for="ingredients" class="form-label">Ingredients</label><br>
          <div class="ingredientList">
            <div class="ingredientDiv mb-1">
              <input type="text" name="ingredients" class="form-control" placeholder="Example: '1 tsp Baking Powder'">
            </div>
          </div>
        </div>

        <div class="col-12 text-center">
          <button type="button" class="btn btn-outline-primary btn-circle form-add-btn" id="addIngredientBtn">+</button>
        </div>

        <div class="col-12">
          <label for="instructions" class="form-label">Instructions</label><br>
          <div class="instructionList">
            <div class="instructionDiv mb-1">
              <input type="text" name="instructions" class="form-control" placeholder="Example: 'Combine the baking soda, salt, and flour.'">
            </div>
          </div>
        </div>

        <div class="col-12 text-center">
          <button type="button" class="btn btn-outline-primary btn-circle form-add-btn" id="addInstructionBtn">+</button>
        </div>

        <div class="col-12">
          <label class="form-label" for="category">Category</label>
          <select class="form-select form-control" name="category" aria-label="Category" required>

            <!-- UPDATE TO FOR EACH LOOP -->
            <option selected>Select a Category</option>
            <option value="American">American</option>
            <option value="Mexican">Mexican</option>
            <option value="Italian">Italian</option>
            <option value="Mediterranean">Mediterranean</option>
            <option value="Chinese">Chinese</option>
            <option value="Indian">Indian</option>
            <option value="Dessert">Dessert</option>
            <option value="Cocktail">Cocktail</option>
            <option value="British">British</option>
            <option value="French">French</option>
          </select>
        </div>

        <div class="col-12">
          <label class="form-label" for="servings">Servings</label>
          <input type="number" name="servings" min="1" step="1" onblur="this.value = Math.round(this.value);" class="form-control">
        </div>

        <div class="col-12">
          <label class="form-label" for="">Prep Time</label><br>
          <div class="form-group d-flex">
            <div class="d-flex align-items-center form-group input-group me-3">
              <input type="number" name="prepHours" min="0" step="1" onblur="this.value = Math.round(this.value);" class="form-control">
              <label class="input-group-text" for="prepHours">Hours</label>
            </div>
            <div class="d-flex align-items-center form-group input-group ms-3">
              <input type="number" name="prepMins" min="0" step="1" onblur="this.value = Math.round(this.value);" class="form-control">
              <label class="input-group-text" for="prepMins">Minutes</label>
            </div>
          </div>
        </div>


        <div class="col-12">
          <label class="form-label" for="">Cook Time</label><br>
          <div class="form-group d-flex">
            <div class="align-items-center form-group input-group me-3">
              <input type="number" name="cookHours" min="0" step="1" onblur="this.value = Math.round(this.value);" class="form-control">
              <label class="input-group-text" for="cookHours">Hours</label>
            </div>
            <div class="align-items-center form-group input-group ms-3">
              <input type="number" name="cookMins" min="0" step="1" onblur="this.value = Math.round(this.value);" class="form-control">
              <label class="input-group-text" for="cookMins">Minutes</label>
            </div>
          </div>
        </div>

        <div class="col-12">
          <label class="form-label" for="img">Recipe Image</label>
          <input type="file" class="form-control" required name="img" accept="image/*">
        </div>

        <div class="col-12 text-center my-5">
          <button type="submit" class="btn btn-primary form-submit-btn" name="button">Submit Recipe</button>
        </div>

      </div>

    </form>

  </div>
</div>
