<div class="d-flex">

  <div class="col-12 col-md-6 col-lg-4 col-xl-3 leftSide container mx-auto">
      <div class="d-flex col-10 flex-wrap mx-auto auth-container">

        <div class="mt-5">
          <h3 class="mt-5 heading-white-bg">Sign up</h3>

            <p class="mb-0 pe-2">Create your account for free</p>
        </div>


        <div class="card col-12 my-4">
          <div class="card-body mx-auto py-2">
            <a class="btn btn-block" href="/auth/google" role="button">
              <i class="fab fa-google fa-lg pe-2"></i>
              Google
            </a>
          </div>
        </div>

        <div class="col-12 d-flex h-100 align-items-center mb-3">
          <div class="col-2 ps-1">
            <hr>
          </div>
          <div class="col-8">
            <p class="text-secondary text-center mb-0 login-text"> Or with email and password</p>
          </div>
          <div class="col-2 pe-1">
            <hr>
          </div>
        </div>

        <div class="d-flex col-12">
          <div class="col-12">
            <div class="card">
              <div class="card-body">

                <form action="/auth/register" method="POST">
                  <div class="form-group">
                    <div class="">
                      <label for="email">Email</label>
                      <i id="email-success" class="fa-solid fa-check text-success ps-1 d-none"></i>
                      <i id="email-failure" class="fa-solid fa-xmark text-danger ps-1 d-none"></i>
                    </div>
                    <p id="email-failure-message" class="text-secondary mb-0 d-none">This email is already in use.</p>
                    <input type="email" class="form-control mb-1" name="email" id="email" onfocusout="userCheckEmail()" required>
                  </div>
                  <div class="form-group">
                    <div class="">
                      <label for="username">Username</label>
                      <i id="username-change-success" class="fa-solid fa-check text-success ps-1 d-none"></i>
                      <i id="username-change-failure" class="fa-solid fa-xmark text-danger ps-1 d-none"></i>

                    </div>
                    <p id="username-change-failure-message" class="text-secondary mb-0  d-none">Username not valid.</p>
                    <input type="text" class="form-control" name="username" id="username" onfocusout="userChangeUsername()" pattern="[a-zA-Z0-9]+" minlength="3" maxlength="27" required>
                  </div>
                  <div class="form-group">
                    <div class="">
                      <label for="password">Password</label>
                      <i id="password-success" class="fa-solid fa-check text-success ps-1 d-none"></i>
                      <i id="password-failure" class="fa-solid fa-xmark text-danger ps-1 d-none"></i>
                    </div>

                    <input type="password" class="form-control" name="password" onfocusout="checkPassword()" minlength="3" id="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary mt-3" id="registerButton">Register</button>
                </form>

              </div>
            </div>
          </div>

        </div>

        <div class="col-12 d-flex align-items-center my-3">
          <p class="text-secondary mb-0 pe-2 login-text">Already have an account?</p>
          <a href="/auth/login" class="profile-followers login-text">Log in</a>
        </div>

      </div>

  </div>

  <div class="col-0 col-md-9">
    <div class="rightSide">

    </div>
  </div>

</div>
