body {
  font-family: "Montserrat", sans-serif;
  padding-top: 62px;
  background-color: white;
}

a {
  text-decoration: none;
}

p {
  color: black;
}


.heading-white-bg {
  color: #A75D5D;
}

/* .container-fluid {
  padding: 3% 15% 7%;
} */
/* Navigation Bar */
.navbar-brand {
  font-family: "ubuntu", sans-serif;
}

.navbar-custom {
  background-color: #A75D5D;
  color: white;
}

.navbar-custom:hover {
  background-color: #A75D5D;
  color: #FFC3A1;
}

.navbar-btn-custom {
  background-color: #F0997D;
  border: none;
}

.navbar-btn-custom:hover {
  background-color: #D3756B;
}

.btn {
  outline: none;
}

/* Modals */
.modal-header {
  border: none !important;
}

.modal-footer {
  border: none !important;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  color: white;
}

/* breadcrumbs */
.breadcrumb-item > a {
  color: #A75D5D;
}

/* Title Section */
#title-area {
  background-color: #A75D5D;
}

/* Features */
#features {
  position: relative;
}

.features-icon {
  color: #F0997D;
}

.features-icon:hover {
  color: #FFC3A1;
}

.feature-description {
  color: #8f8f8f;
}

/* Explore category cards*/
.category-link {
  text-align: center;
  display: block;
  color: #A75D5D;
  text-decoration: none;
  transition: 150ms all;
}

.category-link:hover {
  transform: scale(1.05);
  color: #D3756B;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.explore-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.latest-img {
  height: 300px;

}

.latest-img img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.create-recipe-cta-img {
  width: 566;
  height: 208;
}

.recipe-title-directory {
  color: black;
}



#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}

/* Posts */
.post-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

.comment-profile-pic {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.rating > input {
  display: none;
}

.rating > label {
  width: 1.1em;
  color: #D3756B;
  cursor: pointer;
}

.rating > label::before{
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity:1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.timestamp-text {
  font-size: 12px;
}

.like-button {
  border: none;
  background-color: transparent;
}

.save-button {
  border: none;
  background-color: transparent;
}

/* POST CREATE */
.btn-circle {
  width: 40px;
  height: 40px;
  padding: 9px 14px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.form-add-btn {
  border-color: #F0997D;
  color: #F0997D;
}

.form-add-btn:hover {
  background-color: #F0997D;
  border-color: #F0997D;
}

.form-add-btn:focus {
  background-color: #F0997D;
  border-color: #F0997D;
  box-shadow: none;
}

.form-submit-btn {
  background-color: #D3756B;
  border-color: #D3756B;
}

.form-submit-btn:hover {
  background-color: #A75D5D;
  border-color: #A75D5D;
}

.form-submit-btn:focus {
  background-color: #A75D5D;
  border-color: #A75D5D;
  box-shadow: none;
}

.form-label {
  color: #A75D5D;
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none;
  border-color: #FFC3A1;
}


/* USER */
.profile-picture {
  height: 175px;
  width: 175px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -40px;
  margin-left: 10px;
}

.header-img {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.follow-btn {
  width: 130px;
  background-color: #D3756B;
  border-color: #D3756B;
}

.follow-btn:hover {
  background-color: #A75D5D;
  border-color: #A75D5D;
}

.follow-btn:focus {
  background-color: #A75D5D;
  border-color: #A75D5D;
  box-shadow: none;
}


.profile-post-img img {
  height: 150px;
  width: 90%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

.profile-icon-color {
  color: #D3756B;
}

.profile-title {
  color: #A75D5D;
  transition: 150ms all;
}

.profile-title:hover {
  color: #F0997D;
}

.profile-followers {
  color: #A75D5D;
}

.profile-followers:hover {
  color: #F0997D;
  text-decoration: underline;
}
.private-profile-followers {
  color: #A75D5D;
}

.profile-link {
  color: black;
}

.post-edit-btn {
  background-color: white;
  color: #F0997D;
  padding: 0;
}

.post-edit-btn:hover {
  color: #A75D5D;
}
.post-edit-btn:active {
  border: 0px;
}

.edit-profile-btn {
  font-size: 12px;
}

.btn.show {
  border-color: transparent;
}

/* .post-times {
  height: 100px;
} */

.profile-info {
  margin-top: -2rem;
}

.user-container {
  height: 150px;
}

.directory-profile-pic {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%
}

/* Timeline */
.timeline-post-img img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}



@media screen and (max-width: 767px) {
  .timeline-post-img img {
    height: 400px;
  }
}

@media screen and (max-width: 991px) {
  .post-img {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .post-img {
    height: 400px;
  }
}
